{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }} {% endblock %}

{% block body %}

        <div class="product-container">
            <p><h3>{{ product.name }}</h3></p>
            <p><strong>Description: </strong>{{ product.description }}</p>
            <p><strong>Price: </strong>{{ product.price }}</p>
            <a href="{{ path('edit_product', {'id': product.id}) }}">Edit</a> | <a href="{{ path('delete_product', {'id': product.id}) }}">Delete</a>
            {#<p>{{ product.date_create }}</p>#}
        </div>
        <p>
            <a href="{{ path('home') }}">Back to home</a>
            <a href="{{ path('products_list') }}">Back to products</a>
        </p>

{% endblock %}
